<section class="contenedor-registro">
  <h3>👤 Registro de Usuario</h3>

  <form (ngSubmit)="onSubmit()" class="form-vertical">
    <div class="campo">
      <label>Nombre del Participante</label>
      <input type="text" placeholder="Ej. Juan Pérez" [(ngModel)]="nombre" name="nombre" autocomplete="off" required />
    </div>

    <div class="campo">
      <label>ID de Usuario</label>
      <input type="text" placeholder="Ej. juanito_10" [(ngModel)]="usuario" name="usuario" autocomplete="off"
        required />
    </div>

    <button type="submit" class="btn-principal">
      Crear usuario
    </button>
  </form>

  <div *ngIf="mensajeError" class="alert-msg msg-error" [class.shake-anim]="shakeTrigger">
    <span class="icon">⚠️</span> {{ mensajeError }}
  </div>

  <div *ngIf="mensajeExito" class="alert-msg msg-exito">
    <span class="icon">✅</span> {{ mensajeExito }}
  </div>
</section>
