<section class="formulario-container">
  <div class="header-compacto">
    <h3 class="titulo-seccion">
      {{ modoResultado ? '⚽ Resultado Final' : '📅 Nuevo Partido' }}
    </h3>
  </div>

  <form (ngSubmit)="onSubmit()" class="form-dinamico">

    <ng-container *ngIf="!modoResultado">
      <div class="setup-card">
        <div class="input-group-grid">
          <div class="input-block">
            <label>Equipo Local</label>
            <input type="text" placeholder="Ej: Real Madrid" [(ngModel)]="local" name="local" required
              autocomplete="off" />
          </div>

          <div class="vs-badge-mini">VS</div>

          <div class="input-block">
            <label>Equipo Visitante</label>
            <input type="text" placeholder="Ej: Barcelona" [(ngModel)]="visitante" name="visitante" required
              autocomplete="off" />
          </div>
        </div>

        <div class="input-block date-picker">
          <label>Cierre de Pronósticos</label>
          <input type="datetime-local" [(ngModel)]="fechaLimite" name="fechaLimite" required />
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="modoResultado">
      <div class="marcador-estadio">
        <div class="team-result">
          <span class="team-tag">LOCAL</span>
          <strong class="team-name">{{ local }}</strong>
          <input type="number" class="score-input" [(ngModel)]="golesLocal" name="golesLocal" placeholder="0" min="0"
            onkeypress="return event.charCode >= 48" (focus)="$any($event.target).select()" required />
        </div>

        <div class="vs-divider">
          <span>VS</span>
        </div>

        <div class="team-result">
          <span class="team-tag">VISITANTE</span>
          <strong class="team-name">{{ visitante }}</strong>
          <input type="number" class="score-input" [(ngModel)]="golesVisitante" name="golesVisitante" placeholder="0"
            min="0" onkeypress="return event.charCode >= 48" (focus)="$any($event.target).select()" required />
        </div>
      </div>
    </ng-container>

    <button type="submit" [disabled]="cargando" class="btn-confirmar">
      {{ cargando ? "Procesando..." : (modoResultado ? 'Guardar Resultado' : 'Publicar Partido') }}
    </button>

    <div *ngIf="mensajeError" class="alert-msg msg-error" [class.shake-anim]="shakeTrigger">
      <span class="icon">⚠️</span> {{ mensajeError }}
    </div>

    <div *ngIf="mensajeExito" class="alert-msg msg-exito">
      <span class="icon">✅</span> {{ mensajeExito }}
    </div>
  </form>
</section>
